*,
*::after,
*::before {
  margin: 0; 
  padding: 0; 
  box-sizing: inherit;
}

/* 100% will let the user change the fontsize to any size they need 
THIS DEFINES WHAT 1 REM SHOULD BE */

html {
  font-size: 62.5%;
  // font-family: 'Ubuntu', sans-serif;

  @include respond(tab-land) {
    font-size: 56.25%; 
  }
  @include respond(tab-port) {
    font-size: 50%; 
  }
  @include respond(phone) {
    font-size: 30%; 
  }
  @include respond(big-desktop) {
    font-size: 75%; 
  }

}
/* 
<--! power of inherentance --> */
body {
  box-sizing: border-box; 
}




