@mixin clearfix {
  &::after {
    // we want the content empty because we don't want to display it 
    content: ""; 
    display: table; 
    clear: both; 
  }
}

@mixin absCenter {
  position: absolute;
  top:50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 23.5em) {@content}; // 375
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {@content}; //600
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {@content}; //900
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {@content}; //1200
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {@content}; //1800
  }
}