@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

/*
COLOR PALETTE 
*/

$color-purple: #8F67BD; 
$color-pink: #F05861;
$color-blue: #69C9CA;
$color-yellow: #FFCA32;
$color-white: #FFFFFF;
$color-black: black; 

$purple: rgb(143,103,189);
$blue: rgb(105,201,202);
$pink: rgb(240,88,97);
$yellow: rgb(255,202,50);


/*
GRID
*/

$grid-width: 114rem; 
$gutter-vertical: 8rem; 
$gutter-horizontal: 6rem; 

