.donate {
  background-color: $color-pink; 
  background: rgba(240,88,97, 0.8);
  padding: 0 1rem;
  padding-top: 6rem;
  
  &__subheader {
    color: $color-white; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    font-size: 1.1rem;
    padding: .5rem 0;
    font-size: 1.3rem;
  }
  
  &__left {
    width: 50%; 
    vertical-align: top;
    display: inline-block;
    
    &--image {
      background-image: url(./images/happyKids.jpg);
      height: 35rem;
      background-position: center; 
      background-size: cover; 
      margin: 1rem;
    }
  }
  
  &__right {
    width: 50%; 
    display: inline-block;
    border: solid white thin;
    // border-radius: 4px;
    margin-top: 5.7rem;
    padding-top: 1rem;

  }
}

/*
RIGHT SIDE 
*/

.frequency {
  color: $color-pink;
  text-align: center;
  // margin-top: 6rem;
  text-align: center;
  font-size: 1.3rem;
  
  &__onceBtn {
    background-color: white;
    border: solid $color-pink thin;
    display: inline-block;
    width: 40%;
    border-radius: 4px;
    padding: 1rem 0;
    cursor: pointer;
  }
  &__monthlyBtn {
    background-color: white;
    border: solid $color-pink thin;
    display: inline-block;
    width: 40%; 
    padding: 1rem 0;
    border-radius: 4px;
    cursor: pointer;
  }
}

.amount {
  color: white; 
  
  &__btn {
    padding-left: 3rem;
    &--num {
      display: inline-block;
      padding: .7rem 2rem;
      margin-right: 2rem;
      background-color: white; 
      color: $color-pink; 
      border-radius: 4px;
      cursor: pointer;
    }
  }
  &__input {
    margin: .5rem;
    border: none;
    border-radius: 4px;
    width: 15rem;
    height: 2.5rem;
    padding-left: .7rem;
    margin-left: 3rem;
  }
}

.personalInformation {
  &__form {
    padding: 1rem;
  }
  &__input {
    margin: .5rem;
    border: none;
    width: 20rem;
    height: 2.5rem;
    padding-left: .7rem;

  }

  &__container {

    &--input {
      width: 41rem;
      display: block;
      margin: .5rem;
      border: none;
      height: 2.5rem;
      padding-left: .7rem;
    }
  }
}

.paymentDetails {
  margin-bottom: 5rem;

  &__name {

    &--input {
      margin: .5rem;
      border: none;
      width: 20rem;
      height: 2.5rem;
      padding-left: .7rem;
    }
  }

  &__expiration {

    &--input {
      margin: .5rem;
      border: none;
      width: 9.4rem;
      height: 2.5rem;
      padding-left: .7rem;
    }
  }

  &__cardNumber {
    margin: .5rem;
    border: none;
    width: 20rem;
    height: 2.5rem;
    padding-left: .7rem;
  }

  &__securityCode { 
    display: block;
    margin: .5rem;
    border: none;
    width: 20rem;
    height: 2.5rem;
    padding-left: .7rem;
  }

  &__country {
    border: none;
    margin: .5rem;
    margin-left: .5rem;
    width: 20rem;
    height: 2.5rem;
  }

  &__address {
    &--info {
      display: block; 
      margin: .5rem;
      border: none;
      width: 41rem;
      height: 2.5rem;
      padding-left: .7rem;
    }
    &--city { 
      margin: .5rem;
      border: none;
      width: 9.5rem;
      height: 2.5rem;
      padding-left: .7rem;
    }
  }

  &__check {
    &--box {
      margin: .5rem;
      height: 2.5rem;
    }
    &--label {
      color: $color-white;
      z-index: 100;
      margin-top: -2rem;
    }
    &--btn {
      padding: 1rem 2rem;
      border: none; 
      font-family: 'Ubuntu', sans-serif;
      color: $color-white; 
      background-color: $color-blue;
    }
  }
}


/*
LEFT SIDE 
*/

.thankyou {
  &__header {
    color: $color-white; 
    font-size: 1.5rem; 
    margin-top: 2rem;
    margin-left: .7rem;
    padding: .5rem;

  }
  &__subheader{
    color: $color-white;
    font-size: 1rem;  
    padding: 1rem;
  }
}