.donateHeader {
  height: 70vh; 
  background-image: url(./images/happyWindowKids.jpg);
  background-size: cover;
  position: relative;
  background-position: center; 
  background-repeat: no-repeat;
  width: 50%; 
  float: right; 
    // background-size: 75% 50%;
}