.section-meaning {
  text-align: center;
  background-color: rgba($pink, .9);
  padding-bottom: 7rem;
  &__header {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: $color-white;
  }
}

.section-action {
  text-align: center;
  color: $color-blue;
  padding-bottom: 7rem;

  &__content {
    margin-top: 7rem;
    &--btn {
      text-transform: uppercase;
      letter-spacing: .2rem;
      margin-top: 2rem;
      border: solid $color-blue thin;
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: .5rem;
      cursor: pointer;
      font-size: 1.7rem;
      background-color: $color-blue;
      color: $color-white;
      transition: transform .4s;
      box-shadow: 0 1rem 1rem rgba($dark-grey, .15);

      &:hover {
        background-color: $color-white;
        color: $color-blue;
        transform: translateY(-1rem) scale(1.03);
      }
      &:active {
        transform: translateY(.1rem) scale(1.03);
      }
    }
  }
}
