/*
COLOR PALETTE 
*/

$color-purple: #8F67BD; 
$color-pink: #F05861;
$color-turquoise: #69C9CA;
$color-yellow: #FFCA32;
$color-white: #FFFFFF;

/*
GRID
*/

$grid-width: 114rem; 
$gutter-vertical: 8rem; 
$gutter-horizontal: 6rem; 

