// @import url('~/../../multimedia/sunset.jpg'); 

// .video-container {
//   // height: 80vh;
//   background-size: cover; 
//   position: relative;
//   background-image: 
//     url(../multimedia/sunset.jpg); 
//     background-size: cover;

//   &__sunset {
//     position: absolute; 
//     left: 4rem; 
//     right: 4rem;
//     top: 1rem;
//   }
// }

.video-container {
  height: 80vh; 
  background-size: cover; 
  position: relative;
  // background-image: url('../../images/backgroundImage.jpg); 
}

img {
  width: 50%;
}