.header {
  height: 93vh; 
  background-image: url(./images/homeBackground.jpg);
  background-size: cover; 
  background-position: bottom; 
  opacity: .85;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%); 
  position: relative; 
  &__box {
    color: white;
    font-size: 2rem;
    position: relative;
    top: 17rem;
    width: 30%;
    left: 2rem;
  }
  &__action {
    border: solid $color-purple thin;
    border-radius: 4px;
    color: $color-purple;
    font-size: 2rem;
    position: relative;
    top: 4rem;
    left: 2rem;
    width: 22rem;
    height: 4rem;
    text-align: center;
    padding-top: .7rem;
  }
}

.jijenge-word {
  color: $color-white; 
  padding: 2rem 3rem;
  font-size: 1.5rem; 
} 

.donate-box { 
  border: #FFFFFF solid;
  border-width: 1.5px;
  border-radius: 5px;
  width: 6rem;
  padding: 5px 7px;
  right: 13rem;
  cursor: pointer;
  position: fixed;
  top: 6.5rem;
  z-index: 1800;
  
  &__word {
    text-decoration: none;
    color: $color-white;
    font-size: 1.2rem; 
  }
}

.information {
  background: rgba(143, 103, 189, 0.3);
  height: 85vh;
  margin-top: 3rem;
  padding: 3rem 1rem;
  background-position: bottom;
}

.info {
  padding: 0 4rem;
  height: 7rem;
  font-size: 2rem;
  color: $color-white; 
  text-align: center;
}

.moreInfo {
  height: 30rem; 
  width: 100%;
  margin: 0 auto; 
  background-color: $color-black;
  opacity: .2;
}


.subscription {
  padding: 2rem 0;
  text-align: center;
  
  &__input {
    border: none; 
    font-family: Helvetica;
    height: 3.8rem;
    width: 25rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  &__btn {
    border: none; 
    font-family: 'Ubuntu', sans-serif;
    padding: 1.3rem 4rem;
    background-color: $color-blue;
    color: $color-white; 
    font-size: 1.5rem;

  }
}

.footer {
  height: 15rem;
  // background-color: $color-purple;
}