.donate {
  // background-color: $color-pink; 
  // background: rgba(240,88,97, 0.8);
  background-image: url(./images/donateHeader.jpg);
  background-position: bottom;
  background-size: cover;
  height: 60%;
  padding-top: 6rem;
  padding-bottom: 3rem;
  
  &__subheader {
    color: $color-white; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    font-size: 1.1rem;
    padding: .5rem 0;
    font-size: 1.3rem;
  }
  
  &__left {
    width: 48%; 
    vertical-align: top;
    display: inline-block;
    
    &--image {
      background-image: url(./images/happyKids.jpg);
      height: 35rem;
      background-position: center; 
      background-size: cover; 
      margin: 1rem;
    }
  }
  
  &__right {
    width: 50%; 
    display: inline-block;
    margin-top: 4rem;
    padding-left: 10rem;

    &--form {
      padding: 1rem;
      border: solid #ffff thin;
      border-radius: 1rem;
      // margin: 1.5rem;
      width: 80%;
    }
  }
}

/*
RIGHT SIDE 
*/

.frequency {
  color: $color-pink;
  text-align: center;
  // margin-top: 6rem;
  text-align: center;
  font-size: 1.3rem;
  
  &__onceBtn {
    background-color: white;
    border: solid $color-pink thin;
    display: inline-block;
    width: 40%;
    border-radius: 4px;
    padding: 1rem 0;
    cursor: pointer;
    // margin-right: 1.5rem;
    &:hover {
      background-color: $color-pink; 
      color: #ffff; 
      border: solid #ffff thin; 
    }
  }
  &__monthlyBtn {
    background-color: white;
    border: solid $color-pink thin;
    display: inline-block;
    width: 40%; 
    padding: 1rem 0;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $color-pink; 
      color: #ffff; 
      border: solid #ffff thin; 
    }
  }

}

.amountContainer {
  background-color: #ffff;
  position: relative;
  left: 3.5rem;
  height: 3rem;
  border-radius: .4rem;
  width: 79%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  &__input {
    border: none; 
    width: 20rem;
    margin: 0 1rem;
    height: 3rem;
    font-size: 2rem;
    outline: none;
  }

  &__spanInput {
    font-size: 1.7rem;
  }

}

.amount {
  text-align: center;
  margin-bottom: 1rem;

  &__label {
    font-size: 1.5rem;
    padding: .5rem 0;
    letter-spacing: .5rem;
    color: #fff;
  }
}

.checkout {

  &__btn {
    background-color: $color-blue;
    border: none; 
    border-radius: .4rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    color: $color-white;
    margin-top: 1.5rem;
    letter-spacing: 1rem;
    padding-top: .5rem;
  }
}

.personalInformation {
  // background-color: antiquewhite;
  &__info {
    border: none; 
    height: 3rem;
    border-radius: .4rem;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-family: Helvetica;
  }
  ::-webkit-input-placeholder {
    color: black;
    opacity: .8;
    font-size: 1.2rem;
  }
  &__header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: .5rem;
    color: #fff;
    text-align: center; 
  }
}


/*
LEFT SIDE 
*/

.thankyou {
  &__header {
    color: $color-white; 
    font-size: 1.5rem; 
    margin-top: 2rem;
    margin-left: .7rem;
    padding: .5rem;

  }
  &__subheader{
    color: $color-white;
    font-size: 1rem;  
    padding: 1rem;
  }
}