.wrapper {
  background-image: url(./images/donateHeader.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;

  &__donate {
    background-color: rgba($blue, .7);
    height: 100%;
    text-align: center;
    &--form {
      padding: 1rem;
      border: solid #ffff thin;
      border-radius: 1rem;
      width: 40%;
    } 
  }
}

.formContainer {
  position: relative;
  top: 30%;
  left: 30%;
  width: 40%;
  border: solid $color-white thin;
  border-radius: 1rem;
  padding: 1rem;
  &__frequency {
    &--one {
      display: inline-block;
      background-color: aqua;
    }
    &--monthly {
      display: inline-block;
    }
  }
}