.navigation {
  margin: 0 auto;
  background-color: $color-white; 
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 8vh; 
  padding: .5rem;

  @include respond(tab-port) {
    height: 9vh;
  }
  @include respond(phone) {
    height: 6vh;
  }

  &__logo {
    color: $color-purple; 
    display: inline-block;
    font-size: 2.5rem;
    margin-left: 6rem;
    letter-spacing: 1.5px;
    margin-top: .5rem;
  }
  &__item {
    display: inline-block;
    &:hover {
      border-bottom: solid $purple thin;
    }
    &:not(:last-child) {
      margin-right: 4rem; 
    }
  }
  &__linkMain {
    text-decoration: none;
    color: $color-purple; 
    font-size: 3rem;
    letter-spacing: .3rem;
  }
  
  &__list {
    float: right;
    margin-top: 1.25rem;
    margin-right: 5rem;
    @include respond(tab-port) {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-purple; 
    font-size: 1.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    
  }
  &__linkDonate {
    color: $color-purple;
    border: solid $color-purple thin;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.1rem;
    padding-left: 1.5rem;
    text-decoration: none;
    border-radius: .5rem;

    &:hover {
      color: $color-white;
      border: solid $color-white thin;
      background-color: $color-purple;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    }
  }
}


.dropbtn {
  display: none;
  @include respond(tab-port) {
  display: inline-block; 
  position: relative; 
  float: right;
  margin-right: 3rem;
  cursor: pointer;
  }
}

.dropbtnIcon {
  color: $color-purple;

}

.dropdownContent {
  display: none; 
  position: absolute;
  min-width: 14rem;
  background-color: $color-purple; 
  z-index: 1;
  right: 1.5rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.dropdownContent a {
  color: $color-white;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.dropdownContent a:hover {
  background-color: $color-white; 
  color: $color-purple; 
  
}

.dropbtn:hover .dropdownContent {
  display: block;
}
