html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}

nav {
  background-color: #8F67BD; 
  color: white; 
  display: inline-block; 
  width: 100%;

  li {
    display: inline-block;
    margin-right: 2%;
  }
  a {
    color: white; 
    text-decoration: none; 
  }
}

